nav {
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    height: var(--height-nav);
    padding: var(--space-md);
    position: fixed;
    transition: top 0.3s;
    width: calc(var(--screen-width));
    z-index: var(--z-nav);

    & li {
        list-style: none;
        font-size: 1.6rem;
    }

    & a {
        color: var(--black);
        text-decoration: none;
    }
}

div.nav-spacing {
    height: var(--height-nav);
    width: var(--screen-width);
}