/* Fonts */
@font-face {
    font-family: "eraser";
    src: url("../fonts/eraser.ttf") format("truetype");
}

@font-face {
    font-family: "kristen";
    src: url("../fonts/kristen-itc.ttf") format("truetype");
}

/* Variables */
:root {
    --color-black: #434343;
    --color-gray: #7a7a7a80;
    --color-white: white;
    --height-nav: 10rem;
    --rounded-sm: 0.5rem;
    --screen-width: 100vw;
    --size-md: 1.5rem;
    --space-md: 2rem;
    --space-sm: 1rem;
    --space-xl: 5rem;
    --shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    --z-nav: 10;
}

:target {
    scroll-margin-top: var(--height-nav);
}

/* Reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    width: 100vw;
}

/* Typography */
h1,
h2,
li {
    font-family: 'eraser';
}

p,
b,
address {
    font-family: 'kristen';
}

a {
    cursor: pointer;
}

address {
    color: var(--color-gray);
    margin-top: 0.5rem;
}

h1 {
    color: var(--color-white);
    font-size: 6rem;
    font-weight: lighter;
    line-height: 10rem;
}

h2 {
    color: var(--color-black);
    font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: var(--space-sm);
    margin-left: var(--space-md);
    margin-right: var(--space-md);
    line-height: 3rem;
}

p {
    color: var(--color-gray);
    font-family: 'kristen';
    letter-spacing: 0.15rem;
    line-height: 2.5rem;
}

footer {
    background-color: var(--color-black);
    margin-top: var(--space-xl);
    padding: var(--space-md);

    & p {
        color: var(--color-white);
        text-align: center;
    }
}

/* Forms */
label,
input,
textarea {
    font-family: 'kristen';
    font-size: 1.6rem;
}

form {
    margin: 0 var(--space-md);
}

label {
    display: block;
    margin-bottom: var(--space-sm);
}

input,
textarea {
    border: 1px solid var(--color-gray);
    border-radius: var(--rounded-sm);
    padding: var(--space-sm);
    width: 100%;
}

input[type="checkbox"] {
    accent-color: var(--color-black);
}

input[type="submit"] {
    background-color: var(--color-black);
    border-radius: var(--rounded-sm);
    color: var(--color-white);
    font-size: 2rem;
    margin-top: 1rem;
    padding: var(--space-sm);
}

label[text='Name'] {
    display: none;
}

/* Tables */
th,
thead {
    font-family: 'kristen';
}



tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

tbody th {
    font-weight: normal;
}

thead th {
    font-weight: bold;
}